* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.wrap {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}

/*=======================content====================*/

/*main-title ||
            \  /
             \/ */

.title {
    margin-bottom: 30px;
    padding-top: 107px;
    font-family: 'Raleway', sans-serif;
    font-size: 36px;
    text-transform: uppercase;
    font-weight: 400;
    color: #212121;
}

/*main-title /\
            /  \
             || */

.line {
    width: 64px;
    height: 2px;
    margin: 0 auto 30px;
    background: #E72424;
    border: none;
}

.subtitle {
    color: #86878B;
    font-size: 14px;
    font-weight: 400;
}

.pack {
    margin: 67px 0 108px;
    font-size: 0;
}

.card {
    display: inline-block;
    width: 350px;
    margin: 0 16px;
}

.card-title {
    margin-bottom: 29px;
    font-size: 20px;
    font-weight: 700;
    color: #333333;
}

/*main-content ||
              \  /  
               \/ */

.text {
    font-size: 14px;
    font-weight: 400;
    color: #86878B;
}

/*main-content /\
              /  \
               || */

.icon {
    width: 70px;
    height: 70px;
    margin: 0 auto 29px;
    border: 2px solid #E72424;
    border-radius: 50%;
}

.icon--lamp {
    background: url(../img/lamp.png) no-repeat center;
}

.icon--keyboard {
    background: url(../img/keyboard.png) no-repeat center;
}

.icon--lightning {
    background: url(../img/lightning.png) no-repeat center;
}

.section--city {
    background-image: linear-gradient(45deg, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url(../img/city.jpg);
    background-size: cover;
}

/*=====================additional-info====================*/

/*additional-title ||
                  \  /
                   \/ */

.section--city .title {
    color:#FFFFFF;
}

/*additional-title /\
                  /  \
                   || */

.section--city .line {
    background:#FFFFFF;
}

.section--city .subtitle {
    font-size: 16px;
    font-weight: 300;
    color: #FFFFFF 80%;
}

.btn {
    margin: 20px auto 30px;
    font-weight: 600;
    font-size: 15px;
    color: #FFFFFF;
    background: none;
    border: 1px solid #FFFFFF;
    padding: 11px 26px;
    cursor: pointer;
}

.btn:hover {
    color:grey;
    border-color: grey;
  }

/*======================footer==================*/

.footer {
    background-color: #000000;
    padding-top: 30px;
}

/*socials-networks ||
                  \  /
                   \/ */

a {
    background-image: url(../img/socials.png);
    background-repeat: no-repeat;
    height: 23px;
    width: 25px;
    display: inline-block;
    margin: 0 8px;
  }

  .twitter {
    background-position: -40px top;
  }
  .google {
      background-position: -92px top;
  }
  .pinterest {
    background-position: -140px top;
  }
  .instagram {
    background-position: -190px top;
  }
  .stumbleupon {
    background-position: -243px top;
  }
  .rss {
    background-position: -292px top;
  }

/*socials-networks /\
                  /  \
                   || */


  .copyrigh-text {
    padding: 18px 0 15px;
    font-size: 12px;
    width: 400;
    color: rgba(255, 255, 255, 0.5);
  }